<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Death_Note.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <Death_Note.Properties.Settings>
            <setting name="FormBackColor" serializeAs="String">
                <value>InactiveCaptionText</value>
            </setting>
            <setting name="ColorText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Consolas, 14.25pt, style=Italic</value>
            </setting>
            <setting name="TextBox" serializeAs="String">
                <value />
            </setting>
        </Death_Note.Properties.Settings>
    </userSettings>
</configuration>
